# Configuration SMTP pour l'envoi d'emails
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
CONTACT_EMAIL=

# Base de données PostgreSQL
DATABASE_URL=

# Admin panel
ADMIN_USERNAME=
ADMIN_PASSWORD=
JWT_SECRET=
